.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/images/bg/navbar.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding: 2rem;
  margin: 0;
  font-family: sans-serif;
  color: #fff;           /* Cor da fonte branca */
}

.navbar a {
  color: #fff !important;         /* Força links a ficarem brancos */
  text-decoration: none;
  transition: none;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #fff !important;         /* Não muda cor ao passar mouse */
  text-decoration: none;
}
